<section>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert title here"/>
    </div>
    <div>
      <label for="post-comments">Post</label>
      <input class="textarea is-large" id="post-comments" name="post-comments" placeholder="insert comments here"/>
    </div>
    <button type="submit" class="btn is-primary is-pulled-right">Create Post</button>
  </form>
</section>
<script src="/javascript/add-post.js"></script>