<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-comments">Post</label>
      <input id="post-comments" name="post-comments" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
<script src="../public/javascript/add-post.js"></script>